<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">ProblemBuddy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'recommend' %}">Recommender</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'train' %}">Train</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Weakness Analyzer</a></li>
      </ul>
      <div class="d-flex align-items-center">
        {% if request.user.is_authenticated %}
          <a href="{% url 'profile' %}" class="btn btn-outline-light me-2">Hello, {{ request.user }}</a>
          <form method="post" action="{% url 'logout' %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-light">Logout</button>
          </form>
        {% else %}
          <a href="{% url 'login' %}" class="btn btn-outline-light">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
