{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="card-title mb-3">Change password</h3>
        <form method="post" autocomplete="off">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary w-100 mt-2">Update password</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
